{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'website/home.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container">
  <div class="panel panel-primary jobsearch">
    <div class="panel-heading">
      <h3 class="panel-title">Recherche d'emploi</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="jobCaption">Intitulé du poste</label>
          <input type="text" class="form-control" id="jobCaption" placeholder="Intitulé du poste">
        </div>
        <div class="form-group">
          <label class="sr-only" for="jobLocation">Lieu</label>
          <input type="text" class="form-control" id="jobLocation" placeholder="Lieu">
        </div>
        <button type="button" class="btn btn-default">Rechercher</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
